.about-content {
	margin: 0;
	background: white;
	min-height: 900px;
	position: relative;
}

@media (min-width: 770px) {
	.about-content {
		margin: 0 80px;
	}
}

.about-text-wrap {
	background-color: #f6f4f2;
	height: 100%;
	padding: 160px 80px;
	position: absolute;
	width: 50%;
}

.about-header {
	font-weight: 600;
    margin-bottom: 60px;
	text-align: center;
}

.about-image-wrap {
	background-size: cover;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	width: 50%;
}

