.contact-page-header {
	margin: 0px;
	margin-bottom: 10px;
    font-size: 3em;
    border-bottom: solid 1px #bbbbbb;
}

.contact-page.wrap {
	padding: 20px 0;
	background-size: cover;
	min-height: 900px;
	margin: 0;
	max-width: 100%;
}

.contact-page-wrap {
	margin: 0;
	background: rgba(255, 255,255, 0.8);
	padding: 1em;
}

@media (min-width: 800px) {
	.contact-page-wrap {
		margin: 0 5em;
		padding: 1em 2em;
	}
}

@media (min-width: 1045px) {
	.contact-page-wrap {
		margin: 0 10em;
		padding: 1em 4em;
	}
}

.contact-page-wrap label {
	font-size: 12px;
}

@media (min-width: 600px) {
	.contact-page-wrap label {
		font-size: 15px;
	}
}

.contact-wrap label {
	display: block;
}

.contact-wrap {
	width: 100%;
}

.form-wrap {
	width: 100%;
}

@media (min-width: 520px) {
	.contact-wrap {
		width: 25%;
		float: left;
	}

	.form-wrap {
		width: 70%;
		margin-left: 30%;
	}
}


