.contact-page-header {
	margin-top: 20px;
    font-size: 3em;
    border-bottom: solid 1px #bbbbbb;
}

.contact-page-wrap {
	margin-top: 80px;
}

.contact-wrap label {
	display: block;
}

.contact-wrap {
	width: 25%;
	float: left;
}

.form-wrap {
	width: 75%;
	float: right;
}
